[submodule ".registry"]
	path = .registry
	url = https://github.com/r-dbi/r-dbi.r-universe.dev
	branch = HEAD
[submodule "DBI"]
	path = DBI
	url = https://github.com/r-dbi/dbi
[submodule "DBItest"]
	path = DBItest
	url = https://github.com/r-dbi/dbitest
[submodule "RMariaDB"]
	path = RMariaDB
	url = https://github.com/r-dbi/rmariadb
[submodule "RMySQL"]
	path = RMySQL
	url = https://github.com/r-dbi/rmysql
[submodule "RPostgres"]
	path = RPostgres
	url = https://github.com/r-dbi/rpostgres
[submodule "RSQLite"]
	path = RSQLite
	url = https://github.com/r-dbi/rsqlite
[submodule "adbi"]
	path = adbi
	url = https://github.com/r-dbi/adbi
[submodule "bigrquery"]
	path = bigrquery
	url = https://github.com/r-dbi/bigrquery
[submodule "dblog"]
	path = dblog
	url = https://github.com/r-dbi/dblog
[submodule "nanoparquet"]
	path = nanoparquet
	url = https://github.com/r-lib/nanoparquet
	registered = false
[submodule "odbc"]
	path = odbc
	url = https://github.com/r-dbi/odbc
